@import "_variables";
@import "_animations";

@mixin text-underline($color) {
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    border-image-slice: 100%;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 8px), $color calc(50% - 8px), $color 100% );

    &:hover {
        transition: background-position 120ms ease-in-out;
        background-position: 0 100%;
    }
}

@mixin inset() {
    border-radius: 10px;
    box-shadow: inset 0 2px 2px $black-2;
}

@mixin flashing-cursor($color, $width, $length) {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        border-top: $width solid $color;
        border-left: $length solid $color;
        border-right: $length solid $color;

        -webkit-animation: flash 1.25s step-start infinite; /* Safari 4+ */
        -moz-animation:    flash 1.25s step-start infinite; /* Fx 5+ */
        -o-animation:      flash 1.25s step-start infinite; /* Opera 12+ */
        animation:         flash 1.25s step-start infinite; /* IE 10+, Fx 29+ */
    }


}
