@import "_variables";


body {
    overflow-x: hidden;

    background-color: $black-1;
    color: white;
}

.site-wrapper {
    display: flex;
    font-family: $body-font;
}

.content-wrapper {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 295px;
}
